<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Please verify your email</title>
</head>
<body>
    <h1>Hello {{name}},</h1>
    <h2>Please verify your account within 7 days otherwise your account will be deleted. Your Code is...</h2>
    <h3>{{token}}</h3>
</body>
</html>